    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About {{ site.title }}</h2>
                <p>Micro Talk is the playground of composer duo <a href="http://www.skipta.amsterdam/">Skipta</a> and Nana. The former is known for creating unique sonic landscapes and the latter for her soulful song crafting. Together they join forces in their studio in Amsterdam to write and record tailor made compositions. They worked on art projects such as <a href="http://www.duneproject.space">Dune Reworked</a>, which will be shown at <a href="https://www.deschoolamsterdam.nl/nl/">De School</a>, and commercials for companies as <a href="https://www.youtube.com/watch?v=0kPXkyoN-sQ">Talisman</a> and Hatch. Micro Talk will release an EP in 2019.

            
            </div>
        </div>
    </section>
